
@model CPUTUserManager.Models.EmergencyContactViewModel;

<div class="wrapper">
    <div>
        <h5 id="welcome__display">
            Manage Your Personal Details
        </h5>
    </div>
    <div style="visibility:hidden">
        <input id="_userName" value="@Model.UserName">
        <input id="_isAdmin" value="@Model.IsAdmin">
    </div>
    <div id="formContent">
        <form>
            <input type="text" id="name" class="fadeIn second" name="name" value="@Model.Name" placeholder="add/ update/ delete course">
            <input type="text" id="mobile" class="fadeIn second" name="mobile" value="@Model.Mobile" placeholder="add/ update/ delete course">
        </form>
        <div id="formFooter">
            <div id="formFooter">
                <input type="button" onclick="createBtn()" value="Create" />
                <input type="button" onclick="updateBtn()" value="Update" />
                <input type="button" onclick="deleteBtn()" value="Delete" />
            </div>
        </div>
    </div>
</div>
<script>
    function createBtn() {
        var isAdmin= '@Model.IsAdmin';
       var details = {
            UserName: $('#_userName').val(),
            Name: $('#name').val(),
            Mobile: $('#mobile').val(),
            CRUD: 1,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/EmergencyContactAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function updateBtn() {
         var isAdmin= '@Model.IsAdmin';
       var details = {
           UserName: $('#_userName').val(),
            Course: $('#course').val(),
            CRUD: 2,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/EmergencyContactAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function deleteBtn() {
       var isAdmin= '@Model.IsAdmin';
       var details = {
           UserName: $('#_userName').val(),
            Course: $('#course').val(),
            CRUD: 3,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/EmergencyContactAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
</script>


