@model CPUTUserManager.Models.PasswordViewModel
<div class="wrapper">
    <div>
        <h5 id="welcome__display">
            Manage Your Password
        </h5>
    </div>
    <div id="formContent">

        <form>
            <input type="text" id="username" class="fadeIn second" name="course" value="@Model.UserName" placeholder="add/ update/ delete username">
            <input type="text" id="password" class="fadeIn second" name="course"value="@Model.Password" placeholder="add/ update/ delete password">
        </form>
        <div id="formFooter">
            <div id="formFooter">
                <input type="button" onclick="createBtn()" value="Create" />
                <input type="button" onclick="updateBtn()" value="Update" />
                <input type="button" onclick="deleteBtn()" value="Delete" />
            </div>
        </div>
    </div>
</div>
<script>
    function createBtn() {
        var isAdmin = '@Model.IsAdmin';
        var details = {
            UserName: $('#username').val(),
            Password: $('#password').val(),
            CRUD: 1,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/PasswordAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function updateBtn() {
        var isAdmin= '@Model.IsAdmin';
       var details = {
            UserName: $('#username').val(),
            Password: $('#password').val(),
            CRUD: 2,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/PasswordAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function deleteBtn() {
        var isAdmin= '@Model.IsAdmin';
     var details = {
            UserName: $('#username').val(),
            Password: $('#password').val(),
            CRUD: 3,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Content/PasswordAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != "") {
                    toast.success("Executed succcessfull", "Success");
                }
                else {
                    toastr.error('Error occurred try again', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
</script>