@model CPUTUserManager.Models.SubjectViewModel;

<div class="wrapper">
    <div>
        <h5 id="welcome__display">
            Manage Your Course
        </h5>
    </div>
    <div style="visibility:hidden">
        <input id="_userName" value="@Model.UserName">
        <input id="_isAdmin" value="@Model.IsAdmin">
    </div>
    <div id="formContent">
        <form>
            <input type="text" id="subject" class="fadeIn second" name="subject" value="@Model.Subject" placeholder="add/ update/ delete course">
        </form>
        <div id="formFooter">
            <div id="formFooter">
                <input type="button" onclick="createBtn()" value="Create" />
                <input type="button" onclick="updateBtn()" value="Update" />
                <input type="button" onclick="deleteBtn()" value="Delete" />
            </div>
        </div>
    </div>
</div>
<script>
    function createBtn() {
        var isAdmin = '@Model.IsAdmin';

        var details = {
            Username: $('#userLogin').val(),
            Subject: $('#subject').val(),
            CRUD: 1,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Home/SubjectAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    $('#login__btn').removeClass('.fadeIn');
                    DisplayContent(data)
                }
                else {
                    toastr.error('Please ensure your username and password are correct', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function updateBtn() {
        var isAdmin = '@Model.IsAdmin';
       
        var details = {
            Username: $('#userLogin').val(),
            Subject: $('#subject').val(),
            CRUD: 2,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Home/SubjectAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    $('#login__btn').removeClass('.fadeIn');
                    DisplayContent(data)
                }
                else {
                    toastr.error('Please ensure your username and password are correct', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
    function deleteBtn() {
        var isAdmin = '@Model.IsAdmin';
        
        var details = {
            Username: $('#userLogin').val(),
            Subject: $('#subject').val(),
            CRUD: 3,
            IsAdmin: isAdmin
        };
        console.log(details);
        $.ajax({
            url: "Home/SubjectAction",
            dataType: 'html',
            type: 'POST',
            data: details,
            success: function (data) {
                if (data != null || data != undefined || data.IsSuccess != false) {
                    $('#login__btn').removeClass('.fadeIn');
                    DisplayContent(data)
                }
                else {
                    toastr.error('Please reload', 'Unsuccessful');

                };
            },
            error: function () {

                toastr.error('Error Has occurred please refresh your page', 'Error');
            }
        });
    };
</script>
